
<div class="section">
  <h2>Zoo Directory</h2>
  <div class="divider"></div>
</div>

<%= form_tag(zoos_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search", name: nil) %>
<% end %>

<div class="section">
  <ul class="zoo-list collection">
    <% @zoos.each do |zoo| %>
      <li class="zoo-list__item collection-item">
        <div>
          <b><%= link_to zoo.name, zoo_path(zoo) %></b>
        </div>
      </li>
    <% end %>
  </ul>
</div>