<li class="collection-item avatar">
  <% if @zoo.cover_photo.attached? %>
    <img src="<%= url_for(@zoo.cover_photo) %>" alt="" class="circle">
  <% else %>
    <i class="material-icons circle">pets</i>
  <% end %>
  <div class="content">
    <b class="name"><%= animal.name %></b>
    <p><%= animal.description %></p>
  </div>
  <%= link_to ['admin', animal.zoo, animal],
    method: :delete,
    data: { confirm: 'Are you sure?' },
    class: "teal-text secondary-content" do %>
    <i class="material-icons">delete</i>
  <% end %>
</li>
