<li class="collection-item avatar">
  <% if animal.cover_photo.attached? %>
    <img src="<%= url_for(animal.cover_photo.variant(resize_to_fill: [42, 42, { gravity: 'Center' }])) %>" alt="" class="circle">
  <% else %>
    <i class="material-icons circle">pets</i>
  <% end %>
  <div class="content">
    <b class="name"><%= animal.name %></b>
    <p><%= animal.description %></p>
  </div>
</li>
