
<div class="section">
  <h2>Animals</h2>
  <div class="divider"></div>
</div>

<div class="section">
  <%= link_to new_admin_animal_path, class: "waves-effect waves-light btn" do %>
    <i class="material-icons left">add</i> Add an Animal
  <% end %>
</div>

<div class="section">
  <table class="animal-list">
    <thead>
      <tr>
          <th>Name</th>
          <th>Zoo</th>
      </tr>
    </thead>
    <tbody>
    <% @animals.each do |animal| %>
      <tr class="animal-list__item">
        <td><%= link_to animal.name, edit_admin_animal_path(animal) %></td>
        <td>
          <%= animal.zoo.name %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>