<h1>Edit Zoo</h1>
 
<%= render 'form' %>

<h2>Animals</h2>
<% if @zoo.animals.length > 0 %>
  <%= render @zoo.animals %>
<% else %>
  <p>There are no animals recorded in this listing yet.</p>
<% end %>

<h2>Add an animal:</h2>
<%= render 'admin/animals/form' %>

<%= link_to 'Back to zoo list', admin_zoos_path %>