<div class="section">
  <%= link_to 'Back to Zoo Directory', admin_zoos_path %>
  <h2>Edit Zoo</h2>
  <div class="divider"></div>
</div>
 
<div class="section">
  <h3>Details</h3>
  <%= render 'form' %>
</div>

<div class="section">
  <h3>Animals</h3>
  <ul class="collection">
    <% if @zoo.animals.length > 0 %>
      <%= render @zoo.animals %>
    <% else %>
      <p>There are no animals recorded in this listing yet.</p>
    <% end %>
  </ul>
</div>

<div class="section">
  <h3>Add an Animal</h3>
  <%= render 'admin/animals/form' %>
</div>
