<div class="section">
  <%= link_to 'Back to Zoos', admin_zoos_path %>
  <h2>Edit Zoo</h2>
  <div class="divider"></div>
</div>
 
<div class="section">
  <h3>Details</h3>
  <%= render 'form' %>
</div>
