<div class="section">
  <%= link_to 'Back to Zoo Directory', admin_zoos_path %>
  <h1>Edit Zoo</h1>
  <div class="divider"></div>
</div>
 
<div class="section">
  <h2>Details</h2>
  <%= render 'form' %>
</div>

<div class="section">
  <h2>Animals</h2>
  <div class="row">
    <% if @zoo.animals.length > 0 %>
      <%= render @zoo.animals %>
    <% else %>
      <p>There are no animals recorded in this listing yet.</p>
    <% end %>
  </div>
</div>

<div class="section">
  <h2>Add an Animal:</h2>
  <%= render 'admin/animals/form' %>
</div>
