
<div class="section">
  <h2>Zoos</h2>
  <div class="divider"></div>
</div>

<div class="section">
  <%= link_to new_admin_zoo_path, class: "waves-effect waves-light btn" do %>
    <i class="material-icons left">add</i> Add a Zoo
  <% end %>
</div>

<div class="section">
  <table class="animal-list">
    <thead>
      <tr>
          <th>Name</th>
      </tr>
    </thead>
    <tbody>
    <% @zoos.each do |zoo| %>
      <tr class="zoo-list__item">
        <td><%= link_to zoo.name, edit_admin_zoo_path(zoo) %></td>
      </tr>
    <% end %>
  </table>
</div>