<div class="section">
  <%= link_to 'Back to Zoo Directory', zoos_path %>
  <h1>Add a Zoo</h1>
  <div class="divider"></div>
</div>

<div class="section">
  <h2>Details</h2>
  <%= render 'form' %>
</div>
