<div class="section">
  <h2>Welcome</h2>
  <div class="divider"></div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title center-align teal-text">Add a Zoo</span>
        <p class="center-align"><a class="teal-text" href="/admin/zoos/new"><i class="large material-icons">add_circle</i></a></p>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content teal-text">
        <span class="card-title center-align teal-text">Add an Animal</span>
        <p class="center-align">"><a class="teal-text" href="/admin/animals/new"><i class="large material-icons">add_circle</i></a></p>
      </div>
    </div>
  </div>
</div>