<% if user_signed_in? %>
<ul id="sidebar" class="sidenav sidenav-fixed">
  <li>
    <div class="user-view">
      <i class="large material-icons icon-teal">account_circle</i>
      <%= link_to edit_user_registration_path, :class => 'navbar-link' do %>
        <span class="email"><%= current_user.email %></span>
      <% end %>
    </div>
  </li>
  <li><a href="/admin"><i class="material-icons waves-effect">home</i>Home</a></li>
  <li><a href="/"><i class="material-icons waves-effect">open_in_browser</i>View Website</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Content Types</a></li>
  <li><a href="/admin/zoos"><i class="material-icons waves-effect">map</i>Zoos</a></li>
  <li><a href="/admin/animals"><i class="material-icons waves-effect">pets</i>Animals</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Profile</a></li>
  <li><%= link_to edit_user_registration_path, :class => 'navbar-link' do %><i class="material-icons waves-effect">portrait</i>Edit Profile<% end %></li>
  <li><%= link_to destroy_user_session_path, method: :delete, :class => 'navbar-link'  do %><i class="material-icons waves-effect">exit_to_app</i>Logout<% end %></li>
</ul>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
</script>
<style>
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
</style>
<% end %>
