<nav>
  <div class="nav-wrapper teal">
    <a href="/admin" class="brand-logo center">Rails Zoo</a>
    <ul id="nav-mobile" class="left">
      <li><a href="#" data-target="sidebar" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
    </ul>
  </div>
</nav>
